.todoELement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    width: 100%;
    gap: 10px;
    padding: 15px 20px;
    margin: 10px 0;

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;

    &.completed {
        background: #e6e6ef;
    }
}