.generalList {
    display: flex;
    gap: 20px;
}

.todoList {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 50%;
    min-height: 100%;
}

.title {
    max-width: calc(100% - 60px);
}

.actionBlock {
    position: absolute;
    top: 12px;
    right: 20px;
    height: 24px;
}

.editSvg, .deleteSvg {
    height: 20px;
}