.form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 400px;
    gap: 20px;
}

.input, .textarea {
    width: 100%;
}

.checkBox {
    width: 18px;
    height: 18px !important;
}

.checkBoxBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}