.albumELement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    position: relative;

    width: 540px;
    gap: 20px;
    padding: 15px 20px;

    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    cursor: pointer;

    .title {
        max-width: calc(100% - 100px);
        text-align: justify;
    }
}

.actionBlock {
    position: absolute;
    top: 12px;
    right: 20px;
    height: 24px;

    .editSvg, .deleteSvg {
        height: 20px;
    }

    .deleteSvg {
        padding-right: 10px;
    }

    .arrowSvg {
        height: 20px;
    
        transition: .3s ease;
    
        &.active {
            transform: rotate(-180deg);
        }
    }
}