.section {
    display: flex;
    align-items: center;
    flex-direction: column;

    max-width: 720px;
    gap: 20px;
}

.createButton {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    width: 60px;
}

.buttonBlock {
    display: flex;
    width: 100%;
}