.slider {
    position: relative;
}

.childContainer {
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: calc(50% - 20px);
}

.prev {
    left: -18px;
}

.next {
    right: -18px;
}

.slide {
    display: flex;
    gap: 10px;
    transition: .4s ease-in-out;
}